/* Aufbau */
/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss_grid-template-areas3 */
/* Animation :  */
/* https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  font-family: 'Trebuchet MS', sans-serif;
}



.header { 
  grid-area: header; 
  height: 10vh;
  animation: 1s ease-out 0s 1 slideInFromTop;

  /* https://www.w3schools.com/cssref/pr_border-bottom.asp */
  /* border-bottom: 5px solid red; */

}



.menu { 
  grid-area: menu; 
  height: 60vh;   
  text-align: left; 
  width: 40vh;


  /* https://www.w3schools.com/cssref/pr_border-bottom.asp */
  /* border-right: 5px solid red; */

  

}

.main { 
  grid-area: main; 
  height: 60vh; 
  width: 60vw; 
  padding-left: 0px;

  
}


.right { grid-area: right; height: 60vh}
.footer { grid-area: footer; height: 10vh;}



body {
  background-color: #363945;
  /* background-color: #1034A6; */
  color: white;
  transition-duration: 500ms;
  

}
h1, h2, h3, h4, h5, h6   {
  /* text-align: center; */
  /* color: blue; */
}


.grid-container {
  display: grid;
  grid-template-areas:
    'blank header header header header header'
    'menu main main main main main'
    'menu main main main main main'
    /* 'menu main main main main main' */
    'menu footer footer footer footer footer';
  grid-gap: 10px;

  /* background-color: #fdfdfd; */

  /* background-image: url("background.png"); */

  padding: 10px;
  width: 95vw;
  height: 95vh;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-areas: 
    'blank header header header header header'
    'menu menu menu menu menu menu menu'
    'main main main main main main main'
  }

  .header {}
}



.grid-container > div {
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* text-align: center; */
  padding: 20px 0;
  font-size: 30px;
}

.unter {
    font-size: 15px;
    text-align: left;
}

.item11 {    
    cursor: pointer;

}

.links {
  font-size: 20px;
  text-align: left;
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid rgba(0,128,0,0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgba(0,128,0,0);
  color: white;
}
