:root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #3366ff, #9000ff);
  animation: mymove 10s linear infinite;
}

@keyframes mymove {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}